@model Entidades.Jugador
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ver Jugador</title>
</head>
<body>
    <h1>Ver Jugador</h1>
    Nombre: <input type="text" name="Nombre" value="@Model.Nombre" />
    Apellido: <input type="text" name="Apellido" value="@Model.Apellido" />
    Club: <input type="text" name="Club" value="@Model.Club" />
</body>
</html>